<body class="login">
    <div class="mainarea login">
        <main id="e3">
            <section class="active">
                <div class="cardarea login">
                    <div class="card">
                        <div class="header">
                            <span class="title">Login</span>
                        </div>
                        <div class="content">
                            <form name="Daten" action="/api/login" method="POST">
                                <input type="text" name="name" id="nutzername" placeholder="Username" autocomplete="off" required>
                                <input type="password" name="pw" id="passwort" placeholder="Passwort" required>
                                <button type="submit" id="login-btn">Login</button>
                            </form>
                            <div id="login-error"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--<script src="/javascripts/login.js"></script>-->
</body>